body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #5f5bd4;
  font-family: Source Sans Pro,Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
